body{
    background-color: lightblue;
}

.size-twenty{
    font-size: 20px;
}

.titulo{
    text-decoration: underline;
    color: white;
}

.p1{
    color: navy;
    font-weight: bold;
}

.p2{
    text-transform: uppercase;
    text-align: justify;
}

.p3{
    font-size: 12px;
}